<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5556E8291EDDBAAA00E20967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5556E83D1EDDBAAA00E20967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5556E8481EDDBAAA00E20967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
